
PrimeTables/packages/

PrimeTables/PrimeTables/PrimeTables\.Core/bin/

PrimeTables/PrimeTables/PrimeTables\.WPF/bin/

PrimeTables/PrimeTables/PrimeTables\.WPF/obj/Debug/

PrimeTables/PrimeTables/PrimeTables\.Core/obj/Debug/

PrimeTables/PrimeTables\.Test/bin/Debug/

PrimeTables/PrimeTables\.Test/obj/Debug/
